@import "style";

/* --------------------------------

Main Styles

-------------------------------- */

body {
	background-color: $color-background;
	font-family: $font-sans;
	color: $color-main-text;
	@extend %transition-4;
	word-wrap: break-word;
	margin: 0;
	padding: $gutter;
}

ul {
	font-family: $font-name-a;
	font-weight: 500;
	font-size: 0.8em;
	line-height: 1.5em;
}

.container {
	max-width: $screen-lg;
	margin: 0 auto;
}

.container2 {
    max-width: $screen-lg;
    margin: 0 auto;
		padding: 0.8em;
}

.headerlogo {
	  max-width: $screen-lg;
		padding: 0.3em;
		font-family: $font-name-b;
		font-weight: 600;
		background-color: $color-primary-dark;
}

.headerlogo a.site-title {
    color: white;
}
