---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "style";

/* --------------------------------

Main Styles

-------------------------------- */

body {
	background-color: $color-background;
	font-family: $font-sans;
	color: $color-main-text;
	//font-size: 155%;
	@extend %transition-4;
	word-wrap: break-word;
	margin: 0;
	padding: 1.55556rem;
}

.container {
	max-width: 50rem;
	margin: 0 auto;
}

hr {
    border: 0;
    height: 1px;
    background: #eee;
}

.text-right {
	text-align: right;
}

.pull-right {
	float: right;
}

.text-center {
	text-align: center;
}

ul.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;

	li {
		display: inline-block;
		padding-right: 5px;
		padding-left: 5px;
	}
}

//::-moz-selection {background-color: $anakiwa !important;}
//::selection      {background-color: $anakiwa !important;}

.social {
	li {
		display: inline-block;
		padding-right: 2rem;
	}

	a {
		text-decoration: none;
	}
}

ul.list-inline {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: inline;
	}
}

table {
	border-collapse: collapse;
	font-size: 1.4rem;
	margin: 40px 0;
	width: 100%;
}


code {
	font-size: 14px;
}