---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "style";

/* --------------------------------

Main Styles

-------------------------------- */

body {
	background-color: $color-background;
	font-family: $font-sans;
	color: $color-main-text;
	//font-size: 155%;
	@extend %transition-4;
	word-wrap: break-word;
	margin: 0;
	padding: $gutter;
}

.container {
	max-width: $screen-lg;
	margin: 0 auto;
}