---
layout: default
title: Projects
---
<article class="projects grid">
	<header class="grid__col grid__col--2-of-8">
	</header>
	<div class="grid__col grid__col--6-of-8">
		<div class="grid">
			{% for post in site.categories.project limit: 4 %}
			<div class="grid__col grid__col--3-of-5">
				{% if post.direct_url %}
				<a href="{{ post.direct_url }}" target="_blank"><img src="{{ post.preview }}" alt="{{ post.title }}"/><h2>{{ post.title }}</h2></a>
				{% else %}
				<a href="{{ post.url }}"><img src="{{ post.preview }}" alt="{{ post.title }}"/><h2>{{ post.title }}</h2></a>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
</article>