@import "all";

@import url(http://fonts.googleapis.com/css?family=PT+Serif);

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: $primary-font;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	display: block;
	background-color: $background;
	color: $main-text;
	text-rendering: optimizelegibility;
	font-style: normal;
	font-weight: normal;
	line-height: 2em;
}

a {
    -webkit-transition: $transition-1;
       -moz-transition: $transition-1;
        -ms-transition: $transition-1;
         -o-transition: $transition-1;
            transition: $transition-1;

    text-decoration: underline !important;

    color: inherit;
}



// Screen Sizes
// --------------------------------------------------
$screen-sm: 700px;
$screen-md: 900px;
$screen-lg: 1200px;

//
// --------------------------------------------------
.container {
	max-width: $screen-md;
	margin: 0 auto;
    padding: 0 5%;
}

@media (min-width: $screen-md) {
    .header {
    	margin: 0 auto;
    }
}


.logo-subtitle {
	color: #999;
	font-size: 75%;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: -15px;
	letter-spacing: 1px;
}

.light-icons {
	margin-top: 20px;

	a:hover {opacity: 0.5;}

	dt {padding-left: 5px;}
}










.main {
	text-align: justify;
    text-justify: inter-word;
	font-family: 'PT Serif', serif;
	font-size: 105%;
	max-width: $screen-sm;

    a:hover,
    a:focus,
    a:active {
    	color: #dd5147;
    }

	.article-header {
	    hr {
	    	margin: 1.5em 0 3em;
	    }
	}
}

@media (min-width: $screen-sm) {
    .main {
    	margin: 0 auto;
    }
}









hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 4% 0;
}

.footer {
	margin: 10% 0;
	color: #999;
	font-size: 75%;
	font-style: normal;
	font-weight: normal;

	.icon-heart {color: #dd5147;}

	a {
		color: inherit;
	}

	a:hover,
	a:focus,
	a:active {color: #dd5147;}
}

.night {
	background: #1d1f21;
	color: #9B999A;
    -webkit-transition: $transition-3;
       -moz-transition: $transition-3;
        -ms-transition: $transition-3;
         -o-transition: $transition-3;
            transition: $transition-3;

	a {color: #9B999A;}

	h1 {color: #b8b8b8;}

	a:hover,
	a:focus,
	a:active {color: #fff;}

	hr {opacity: .1;}
}