* {
	margin: 0;
	padding: 0;
}

.header {
	margin: auto;
	padding: 50px 0 80px 0;
	width: 100%;
	background: #ffffff;
	text-align: center;
}

.containerHeader {
	margin: auto;
	width: 965px;
}

.name {
	float: left;
	text-align: center;
	-webkit-animation: bounceInDown 1s ease-in-out;
	-moz-animation: bounceInDown 1s ease-in-out;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
}

.name a {
	color: #2b2b2b;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

.name a:hover {
	color: #626262;
}

.email a {
	float: right;
	margin: 0;
	border-bottom: 2px solid #2b2b2b;
	color: #2b2b2b;
	text-decoration: none;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	-webkit-animation: bounceInDown 1s 0.4s ease-in-out;
	-moz-animation: bounceInDown 1s 0.4s ease-in-out;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
}

.email a:hover {
	border-bottom: 2px solid #626262;
	color: #626262;
}

.email a:visited {
	text-decoration: none;
}

/* .nav {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	float: right;
}

.nav ul {
	margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {
	display: inline-block;
	margin-right: 20px;
}

.nav a {
	display: inline-block;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #2b2b2b
}

.nav a:hover {
	background-color: #f5f5f5;
} */

.mainOne {
	margin: auto;
	padding: 140px 0 140px 0;
	width: 100%;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	background-color: #f5f5f5;
	text-align: center;
}

/* .photo {
	background-image: url("assets/images/me.png");
	background-size: 170px 170px;
	background-repeat: no-repeat;
	display: inline-block;
	width: 170px;
    height: 170px;
    float: left;
} */

.containerMainOne {
	margin: auto;
	width: 965px;
}

.bio {
	display: inline-block;
	width: 100%;
	-webkit-animation: bounceIn 4s 1s ease-in-out;
	-moz-animation: bounceIn 4s 1s ease-in-out;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
}

.bio p {
	color: #6a6a6a;
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
}

.mainTwo {
	margin: auto;
	padding: 80px 0 80px 0;
	width: 100%;
	text-align: center;
}

.containerMainTwo {
	margin: auto;
	width: 965px;
	text-align: center;
}

.containerMainTwo h1 {
	margin-bottom: 70px;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	-webkit-animation: fadeIn 3s 2.5s ease-in-out;
	-moz-animation: fadeIn 3s 2.5s ease-in-out;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
}

.logos {
	margin: auto;
	list-style: none;
	text-align: center;
	-webkit-animation: bounceIn 1s 4s ease-in-out;
	-moz-animation: bounceIn 1s 4s ease-in-out;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
}

.grayscale {
	-webkit-filter: grayscale(100%);
}

.logos ul {
	margin: 0;
    padding: 0;
    list-style: none;
}

.logos li {
	display: inline-block;
	padding: 14px;
	height: 290px;
}

/*Hover effects*/
ul img:hover {
	-webkit-filter: none; /*Returns to default state*/
}

.footer {
	padding: 80px;
	border-top: 1px solid #e7e7e7;
	background-color: #f5f5f5;
}

.containerFooter {
	margin: auto;
	width: 965px;
	text-align: center;
}

.social {
	clear: both;
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-animation: fadeIn 3.5s 3.8s ease-in-out;
	-moz-animation: fadeIn 3.5s 3.8s ease-in-out;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
}

.social li {
	display: inline-block;
	margin: 15px;
}

.social a {
	color: #777777;
	text-decoration: none;
	font: bold 18px 'Open Sans', sans-serif;
}

#twitter a:hover {
	border-bottom: 3px solid #00aced;
	color: #00aced;
}

#dribbble a:hover {
	border-bottom: 3px solid #ea4c89;
	color: #ea4c89;
}

#dunked a:hover {
	border-bottom: 3px solid #3d5a70;
	color: #3d5a70;
}

#flickr a:hover {
	border-bottom: 3px solid #0063db;
	color: #0063db;
}

#tumblr a:hover {
	border-bottom: 3px solid #3d5a70;
	color: #3d5a70;
}
