body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	letter-spacing: 0.045rem;
	color: #888;
	font-weight: 300;
	padding: 0;
	margin: 0;
	font-size: 90%;
}

header {
	margin: 100px auto 50px;
}

@media (max-width: 768px) {
	header {
		margin: 50px auto 35px;
	}
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	color: #20a457;
}

h1 {font-size: 1.5rem;}
h2 {font-size: 1.4rem;}

a {
	color: #111;
	text-decoration: none;
	transition: all 150ms ease;
}

a:hover,
a:focus,
a:active {
	color: #20a457;
}

input {
	padding: 10px 16px;
	font-size: 1rem;
	border-radius: 4px;
	-webkit-appearance: none;
}

[placeholder]:focus::-webkit-input-placeholder {
	transition: all 275ms ease;
    -webkit-transform: translate(150px, 0);
       -moz-transform: translate(150px, 0);
        -ms-transform: translate(150px, 0);
         -o-transform: translate(150px, 0);
            transform: translate(150px, 0);
    opacity: 0;
}

.input {
	border: 2px solid Gainsboro;
	font-weight: 300;
	letter-spacing: 0.05rem;
	width: 225px;
}

@media (min-width: 768px) {
	.input {
		margin-right: 5px;
	}
}

.input:focus,
.input:active {
	box-shadow: none;
	outline: none;
}

.button {
	background-color: White;
	border: 2px solid #20a457;
	color: #20a457;
	cursor: pointer;
}

.button:hover {
	background-color: #20a457;
	color: White;
}

@media (max-width: 768px) {
	.button {
		margin-top: 10px;
	}
}

footer {
	font-size: 90%;
	margin: 150px auto 100px;
}

@media (max-width: 768px) {
	footer {
		margin: 125px auto 100px;
	}
}