<footer class="site-footer small">

	<div class="container">

	<nav>
		<div class="grid">
			<div class="grid__col grid__col--4-of-8 grid__col--centered">
				<!--© <script type="text/javascript">document.write(new Date().getFullYear());</script> {{ site.name }}.-->
				© <script type="text/javascript">document.write(new Date().getFullYear());</script>. Handmade with <span style="color:#f24242;">♥</span> in Athens &amp; London.
				<ul class="list-inline">
					<li><a href="https://twitter.com/{{ site.twitter }}">Twitter</a></li>
					<li><a href="https://dribbble.com/{{ site.dribbble }}">Dribbble</a></li>
					<li><a href="http://github.com/{{ site.github }}/{{ site.github }}.com">Source</a></li>
					<li><span id="email"></span></li>
				</ul>
			</div>
		</div>
	</nav>

	</div>

</footer>

<script>
  var parts = ["afivos", "me", "com", "&#46;", "&#64;"];
  var email = parts[0] + parts[4] + parts[1] + parts[3] + parts[2];
  document.getElementById("email").innerHTML=email;
</script>