$color-white:				#FFFFFF;

$color-main-text:			#4E555E;
$color-main-text-light:		lighten($color-main-text, 20%);
$color-main-text-dark:		darken($color-main-text, 15%);

$color-primary:				#008Fd5;
$color-primary-light:		#F7FCFF;	
$color-primary-dark:		darken($color-primary, 10%);

$color-red:					#D84141;

$color-link:				$color-primary;

$color-background:			$color-white;