$color-white:				#FFF;

$color-main-text:			#000000;
$color-main-text-light:		lighten($color-main-text, 20%);
$color-main-text-dark:		darken($color-main-text, 15%);

$color-primary:				#ea6091;
$color-primary-light:		#ffe1f8;
$color-primary-dark:		darken($color-primary, 20%);

$color-red:					#D84141;

$color-link:				$color-primary;

$color-background:			$color-white;
