$color-white:				#FFFFFF;

$color-main-text-light:		#9ba2ab;
$color-main-text:			#515862;
$color-main-text-dark:		#25282c;

$color-primary:				#008fd5;
$color-primary-dark:		darken($color-primary, 10%);

$color-red:					#D84141;

$color-link:				$color-primary;

$color-background:			$color-white;