img {
  width: 100%;
}

.projects img {
  margin-bottom: $gutter;
}

figure img {
  display: block;
  margin-bottom: ($gutter / 2);
}

@media (min-width: $screen-md) {
  .imgbleed {
    width: calc(150% + #{$gutter/2});
  }

  .imgleft {
    float: left;
    width: calc(50% - #{$gutter/2});
    margin-left: calc(-50% - #{$gutter/2});
    margin-right: $gutter;
  }

  .imgright {
    float: right;
    width: calc(50% - #{$gutter/2});
    margin-right: calc(-50% - #{$gutter/2});
    margin-left: $gutter;
  }
}

figcaption :last-child {
  margin-bottom: ($gutter * 1.25);
}