// ------------------------------
//
// Links
//
// ------------------------------

a {
	@extend %transition-1;

	&:link,
	&:visited {
		color: $color-link;
		text-decoration: none;
	}

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}

	&.active {
		color: $color-link !important;
	}

	&:focus {
		outline: none;
	}

	&.btn {
		&:focus,
		&:active {
			color: inherit;
		}
	}
}