// ------------------------------
//
// Links
//
// ------------------------------

a {
	@extend %transition-1;

	&:link,
	&:visited {
		color: inherit;
	}

	&:hover,
	&:focus,
	&:active {
		color: lighten($color-main-text-light, 10%) !important;
	}

	&.active {
		//color: lighten($color-main-text-light, 10%) !important;
	}

	&:focus {
		outline: none;
	}

	&.btn {
		&:focus,
		&:active {
			color: inherit;
		}
	}
}