$transition-0: all 0ms ease;
$transition-1: all 100ms ease;
$transition-2: all 200ms ease;
$transition-3: all 300ms ease;
$transition-4: all 400ms ease;
$transition-5: all 500ms ease;
$transition-6: all 600ms ease;

%transition-0 {
	-webkit-transition: $transition-0;
	   -moz-transition: $transition-0;
	    -ms-transition: $transition-0;
	     -o-transition: $transition-0;
	        transition: $transition-0;
}

%transition-1 {
	-webkit-transition: $transition-1;
	   -moz-transition: $transition-1;
	    -ms-transition: $transition-1;
	     -o-transition: $transition-1;
	        transition: $transition-1;
}

%transition-2 {
	-webkit-transition: $transition-2;
	   -moz-transition: $transition-2;
	    -ms-transition: $transition-2;
	     -o-transition: $transition-2;
	        transition: $transition-2;
}

%transition-3 {
	-webkit-transition: $transition-3;
	   -moz-transition: $transition-3;
	    -ms-transition: $transition-3;
	     -o-transition: $transition-3;
	        transition: $transition-3;
}

%transition-4 {
	-webkit-transition: $transition-4;
	   -moz-transition: $transition-4;
	    -ms-transition: $transition-4;
	     -o-transition: $transition-4;
	        transition: $transition-4;
}

%transition-5 {
	-webkit-transition: $transition-5;
	   -moz-transition: $transition-5;
	    -ms-transition: $transition-5;
	     -o-transition: $transition-5;
	        transition: $transition-5;
}

%transition-6 {
	-webkit-transition: $transition-6;
	   -moz-transition: $transition-6;
	    -ms-transition: $transition-6;
	     -o-transition: $transition-6;
	        transition: $transition-6;
}

@-webkit-keyframes fadeIn {
	0%		{opacity: 0;}
	20%		{opacity: 0;}
	40%		{opacity: 0.3;}
	60%		{opacity: 0.5;}
	80%		{opacity: 0.9;}
	100%	{opacity: 1;}
}

@keyframes fadeIn {
	0%		{opacity: 0;}
	20%		{opacity: 0;}
	40%		{opacity: 0.3;}
	60%		{opacity: 0.5;}
	80%		{opacity: 0.9;}
	100%	{opacity: 1;}
}