html *,
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-size: (16/16)*100%;
	line-height: 1.4em;
}

%strong {
	font-weight: 600
}

strong {
	@extend %strong;
}

%small {
	font-size: 0.8rem;
}

small,
.small {
	@extend %small;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 1rem;
	@extend %strong;
	margin-bottom: 1rem;
	margin-top: 0;
}

a {
	&.btn {
		&:focus,
		&:active {
			color: inherit;
		}
	}
}

p {
	font-weight: normal;
	font-style: normal;
}

p,
pre {
	margin-top: 0;
	margin-bottom: 1.55rem;
}

pre {
	background-color: $color-main-text;
	color: $color-white;
	padding: 6px 12px;
	overflow: auto;
	white-space: pre;
	word-wrap: normal;
	border-radius: 3px;
	font-family: $font-code;
}

code {
	background-color: #fafafb;
	padding: 0 3px;
	color: $color-main-text-dark;
	@extend %strong;
	font-family: $font-code;
	border-radius: 3px;
	border: 1px solid #f0f2f3;
}

i[class^="fa"]:after,
span[class^="icon"]:after {
	content: '';
	display: inline-block;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-left {
	text-align: center;
}

.text-danger,
.text-danger a, {
	color: $color-primary;
}

label {
	@extend %strong;
}

figure {
	margin: 0;

	figcaption {
		@extend %small;
		color: $color-main-text-light;

		a {
			text-decoration: underline;
			@extend %transition-1;
		}
	}
}