html *,
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

a {
	&.btn {
		&:focus,
		&:active {
			color: inherit;
		}
	}
}

p {
	line-height: 1.7;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 1.55rem;
}

i[class^="fa"]:after,
span[class^="icon"]:after {
	content: '';
	display: inline-block;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-left {
	text-align: center;
}

.text-danger,
.text-danger a, {
	color: $color-primary;
}

strong {
	font-weight: 600;
}

%small {
	font-size: 0.8rem;
}

small,
.small {
	@extend %small;
}

label {
	font-weight: 600;
}

code {
	font-size: 14px;
}

figure {
	margin: 0;

	figcaption {
		@extend %small;
		color: $color-main-text-light;

		a {
			text-decoration: underline;
			@extend %transition-1;
		}
	}
}