$screen-xs:		400px;
$screen-sm:		480px;
$screen-md:		700px;
$screen-lg:		950px;
$screen-xl:		1280px;

$gutter:		30px;

// Fonts
$font-name-a:	"nimbus-sans";
$font-name-b:	"Georgia";

$font-sans:		$font-name-a, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-serif:	$font-name-b, "Georgia", serif;
$font-code:		"Consolas", monospace;