$screen-xs:		400px;
$screen-sm:		480px;
$screen-md:		700px;
$screen-lg:		960px;
$screen-xl:		1280px;

$gutter:		20px;

// Fonts
$font-name-a:	"nimbus-sans";
$font-name-b:	"Playfair Display";

$font-sans:		$font-name-a, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-serif:	$font-name-b, "Playfair Display", serif;
$font-code:		"sans-serif"
