$screen-xs:		400px;
$screen-sm:		480px;
$screen-md:		700px;
$screen-lg:		960px;
$screen-xl:		1280px;

$gutter:		15px;

// Fonts
$font-name-a:	"Droid Sans Regular";
$font-name-b:	"Raleway";

$font-sans:		$font-name-a, "Droid Sans Mono", sans-serif;
$font-serif:	$font-name-b, "Raleway", serif;
$font-code:		"sans-serif"
