blockquote {
	padding-left: 1.5rem;
	border-left: 3px solid $color-primary;
	margin-left: 0;
}

hr {
    border: 0;
    height: 1px;
    background: #eee;
    //width: 6rem;
    margin: ($gutter * 1.5) auto ($gutter * 1.75);
}

.text-right {
	text-align: right;
}

.pull-right {
	float: right;
}

.text-center {
	text-align: center;
}

//::-moz-selection {background-color: $color-primary-light !important;}
//::selection      {background-color: $color-primary-light !important;}

ul.list-inline {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		display: inline;
	}
}

@media (min-width: $screen-lg) {
	p:first-child {
		img:first-of-type {
			margin-top: 0;
		}
	}
}

.page__title,
.post__title {
	margin-top: 0;
	margin-bottom: 0;

	@media (max-width: $screen-md) {
		margin-bottom: $gutter;
	}
}

.page__headline,
.post__headline {
	margin-top: 0;
	margin-bottom: $gutter;
	font-weight: normal;

	@media (max-width: $screen-md) {
		margin-top: -$gutter;
	}
}

.posts__list {
	margin: 0 auto;
	padding-left: 0;

	li {
		list-style-type: none;
		margin-bottom: $gutter;

		a {
			text-decoration: none;

			.post__title {
				color: $color-main-text;
				font-weight: normal;
			}

			.post__headline {
				color: $color-main-text-light !important;
			}

			&:hover {
				.post__title {
					color: $color-link;
				}
			}
		}
	}
}

.projects {
	[class*='grid__col'] {
		position: relative;

		a {
			h2 {
				position: absolute;
				opacity: 0;
				@extend %transition-3;
				color: $color-white;
				font-weight: normal;
				background-color: $color-main-text-dark;
				height: auto;
				left: 20px;
				right: 0;
				top: 0;
				bottom: 10px;
				padding-top: 25px;
				padding-left: 28px;
			}

			&:hover {
				h2 {
					opacity: 1;
				}
			}
		}
	}

	img {
		margin-bottom: $gutter;
	}
}
