/* --------------------------------

Blog list

-------------------------------- */

.post-list {
	margin-bottom: 30%;

	ul {
		margin: 5% auto;
		padding-left: 0;

		li {
			list-style-type: none;
			padding-bottom: 15px;

			+li {
				padding-top: 25px;
				border-top: 1px solid #eee;
			}

			a {
				color: $color-main-text-light;
				text-decoration: none;
			}

			a.post-meta {
				float: right;
				position: relative;
				top: 0.15rem;
				@extend %small;
			}

			a.post-title {
				color: $color-main-text-dark;
				display: block;
				max-width: 75%;
				font-size: 1.25rem;
				line-height: 1;
				font-weight: bold;

				h2.post-headline {
					font-size: 1rem;
					font-weight: normal;
					color: $color-main-text-light;
					margin-top: 0.5rem;
				}
			}
		}
	}
}

/* --------------------------------

Projects list

-------------------------------- */

.projects {
	margin-bottom: 10%;

	@media (min-width: $screen-sm) {
		margin-top: 2.5%;
	}

	@media (max-width: $screen-sm) {
		margin-top: $gutter;
	}

	[class*='grid__col'] {
		position: relative;

		a {
			h2 {
				position: absolute;
				opacity: 0;
				@extend %transition-3;
				color: $color-white;
				font-size: 1rem;
				font-weight: 400;
				background-color: #262626;
				height: auto;
				left: 30px;
				right: 0;
				top: -13px;
				bottom: 20px;
				padding-top: 25px;
				padding-left: 28px;
			}

			&:hover {
				h2 {
					opacity: 1;
				}
			}
		}
	}
}

/* --------------------------------

Blogpost and Project

-------------------------------- */

.post,
.project {
	margin: 0 auto 10%;

	header.post-header {
		padding-top: 0;
		margin-top: 0;
		margin-bottom: 3rem;

		h1.post-title {
			font-size: 1.85rem;
			color: $color-main-text-dark;
			font-weight: 600;
			line-height: 1;
			margin-top: 0;
		}

		h2.post-headline {
			font-family: $font-serif;
			font-size: 1.35rem;
			font-weight: normal;
			color: $color-main-text-light;
			margin-top: -0.5rem;
			margin-bottom: 0;
		}

		span[class*="cross"] {
			color: $color-main-text-dark;
			//padding-top: 1rem;
			font-size: 1.25rem;
			@extend %transition-1;

			&:hover {
				color: $color-link;
			}
		}

		ul.post-tags {
			margin-top: -2rem;
			margin-bottom: 4rem;

			li {
				padding-right: 1rem;
				line-height: 2.25;

				a {
					padding: 0.5rem 1rem;
					border: 1px solid #eee;
					border-radius: 4px;
					text-decoration: none;
					font-size: 13px;

					&:hover {
						color: inherit !important;
						opacity: 0.6;
					}
				}
			}
		}
	}

	article.project-content {
		.meta-title {
			text-transform: uppercase;
			font-weight: 600;
			margin-bottom: 0.75em;
			font-size: 0.85em;
			color: $color-main-text-dark;
			margin-top: -0.3rem;
		}

		img {
			margin-bottom: 5rem;
		}
	}

	article.post-content {
		h1 {
			font-size: 3rem;
			color: $color-main-text-dark;
			font-weight: bold;
			line-height: 1.3em;
		}

		h2 {
			font-weight: 600;
			font-size: 2.25rem;
			line-height: 1.3;
			margin-bottom: 2.75rem;
		}

		h3 {
			font-weight: 600;
			font-size: 1.9rem;
		}

		h4 {
			font-weight: 500;
			font-size: 1.8rem;
		}

		h5 {
			font-weight: 500;
			font-size: 1.6rem;
		}

		strong {
			color: $color-main-text-dark;
		}

		blockquote {
			padding-left: 1.5rem;
			border-left: 3px solid $color-primary;
			margin-left: 0;
		}

		@media (min-width: $screen-lg) {
			p:first-child {
				img:first-of-type {
					margin-top: 0;
				}
			}
		}
	}

	footer {
		nav.post-nav {
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
			margin: 0;
			padding: 0;
		}
	}
}