// ------------------------------
//
// Footer
//
// ------------------------------

.site-footer {
	margin: ($gutter * 6) 0 ($gutter * 1.5) 0;
	color: $color-main-text-light;

	@media (max-width: $screen-md) {
		border-top: 1px solid #eee;
	}

	nav {
		padding-top: ($gutter * 1.5);

		@media (min-width: $screen-md) {
			border-top: 1px solid #eee;
		}
	}

	a {
		&:link,
		&:visited {
			color: $color-link;
		}
	}

	.list-inline {
		margin-top: ($gutter / 2.5);

		li {
			margin-right: 0.5rem;
		}
	}
}