// ------------------------------
//
// Footer
//
// ------------------------------

footer.site-footer {
	margin: 0 0 ($gutter*1.5) 0;
	color: $color-main-text-light;

	@media (max-width: $screen-md) {
		border-top: 1px solid #eee;
	}

	nav {
		padding-top: $gutter*1.5;

		@media (min-width: $screen-md) {
			border-top: 1px solid #eee;
		}
	}

	a {
		&:link,
		&:visited {
			color: $color-main-text-light;
		}
	}

	ul.list-inline {
		margin-top: $gutter/2.5;

		li {
			padding-right: 0.25rem;
			padding-left: 0.25rem;
		}
	}
}