// ------------------------------
//
// Footer
//
// ------------------------------

footer.site-footer {
	border-top: 1px solid #eee;
	padding-top: 3%;
	margin: 0 0 $gutter 0;
	color: $color-main-text-light;

	a {
		color: $color-main-text-light;
		@extend %transition-3;
		text-decoration: none;

		&:hover {
			color: $color-link;
		}
	}
}