/* --------------------------------

Header

-------------------------------- */

header.site-header {
	margin: ($gutter/2) 0 5% 0;

	@media (max-width: $screen-md) {
		margin-bottom: ($gutter*1.5);
		border-bottom: 1px solid #eee;
	}

	nav {
		padding-bottom: $gutter;

		@media (min-width: $screen-md) {
			border-bottom: 1px solid #eee;
		}

		a.site-title {
			line-height: 100%;
			font-weight: 500;
			font-size: 1.2rem;
			color: $color-main-text-dark;
			border: 0;
			@extend %transition-2;
			text-decoration: none !important;

			@media (max-width: $screen-md) {
				display: block;
				text-align: center;
				margin-bottom: ($gutter / 1.5);
			}

			&:hover {
				color: $color-main-text !important;
			}
		}

		ul {
			@media (min-width: $screen-md) {float: right;}
			@media (max-width: $screen-md) {text-align: center;}

			li a {
				color: $color-main-text-light;
				@extend %transition-2;
				text-decoration: none !important;
				transition: border-color 200ms ease !important;

				@media (min-width: $screen-md) {
					padding-bottom: $gutter + 4px;
					margin-left: 1.25rem;
				}

				@media (max-width: $screen-md) {
					margin: 0 0.75rem;
				}

				&:hover,
				&.active,
				&:active,
				&:focus {
					color: $color-primary !important;

					@media (min-width: $screen-md) {
						border-bottom: 1px solid $color-primary;
					}
				}
			}
		}
	}
}