/* --------------------------------

Header

-------------------------------- */

.site-header {
	margin: ($gutter / 2) 0 ($gutter * 1.5) 0;

	@media (min-width: $screen-lg) {
		margin: ($gutter / 2) 0 ($gutter * 3) 0;
	}

	nav {
		padding-bottom: $gutter;
		@extend %transition-2;

		.site-title {
			color: $color-main-text-dark;
			border: 0;
			text-decoration: none !important;

			@media (max-width: $screen-md) {
				display: block;
				text-align: center;
				margin-bottom: ($gutter / 1.5);
			}
		}

		.dropdown {
			@media (max-width: $screen-md) {
				text-align: center;
				margin-bottom: 2.5rem;
			}

			li {
				margin-left: ($gutter / 1.5);

				@media (max-width: $screen-md) {
					margin: 0 0.5rem;
				}

				display: inline-block;
				margin-bottom: 0.5rem;
				position: relative;
				text-decoration: none;
				transition-duration: 0.5s;

				a {
					color: $color-main-text-dark !important;
					text-decoration: none;

					&:hover {
						background: lighten($color-link, 30%);
						//color: $color-link !important;
					}
				}

				ul {
					visibility: hidden;
					opacity: 0;
					text-align: left;
					position: absolute;
					left: 0;
					display: none;
				}

				&:hover > ul,
				&:focus-within > ul,
				ul:hover,
				ul:focus {
					visibility: visible;
					opacity: 1;
					display: block;
				}

				ul li {
					clear: both;
					width: 175%;
					margin-left: 0;

					&:first-of-type {
						margin-top: 1.25rem;
					}

					@media (max-width: $screen-md) {
						margin-bottom: 0.5rem;
					}
				}
			}
		}
	}
}