.home {
	.pagination {
		margin-top: 10%;
		//border-top: 1px solid #eee;
		padding-top: 20px;
		font-weight: 600;

		ul {
			li.prev {
				float: left;

 				&:after,
				&:before {
				    content: "‹";
				}

				&:after,
				&:before {
				    margin-right: -.15rem;
				}

				&:hover:after {
				    padding-right: 1rem;
				}
			}

			li.next {
				float: right;

 				&:after,
				&:before {
				    content: "›";
				}

				&:after,
				&:before {
				    margin-left: -.15rem;
				}

				&:hover:after {
				    padding-left: 1rem;
				}
			}

			li.prev,
			li.next {
 			    @extend %transition-2;

				&:after,
				&:before {
				    @extend %transition-2;
				    display: inline-block;
				    font-size: 2.55rem;
				    position: absolute;
				    opacity: 0;
				    margin-top: -1rem;
				}

				&:hover:after {
				    opacity: 1;
				}

				a {
					text-decoration: none;

					.fa {
						vertical-align: text-bottom;
						font-weight: 600;
					}

					.fa-angle-right {
						margin-left: 0.5rem;
					}

					.fa-angle-left {
						margin-right: 0.5rem;
					}
				}
			}
		}
	}
}