// ------------------------------
//
// Colours
//
// ------------------------------

$color-black:			#000000;
$color-gray-darkest:	#171717;
$color-gray-dark:		#2E2E2E;
$color-gray:			#454545;
$color-gray-light:		#5C5C5C;
$color-gray-lightest:	#F2F2F2;
$color-white:			#ffffff;

$color-blue:			#0466c8;

$color-green:			#14CC60;

$color-yellow:			#fbdeb8;

// Unused but cool
// #DFE3E6;
// #AEB0B3;
// #2E3339;