// ------------------------------
//
// Keyframes
//
// ------------------------------

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba($color-green, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 26px rgba($color-green, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba($color-green, 0);
	}
}

@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba($color-green, 0.4);
		box-shadow: 0 0 0 0 rgba($color-green, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 26px rgba($color-green, 0);
		box-shadow: 0 0 0 26px rgba($color-green, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba($color-green, 0);
		box-shadow: 0 0 0 0 rgba($color-green, 0);
	}
}