// ------------------------------
//
// Module: Section
//
// ------------------------------

.section {
	display: flex;

	@include media("千esktop") {
		flex-wrap: wrap;
	}

	&.section-right {
		justify-content: flex-end;
	}

	.column {
		flex: 0 50%;
		transition: background-color 0.5s, color 0.5s;
		
		&.column-left {
			flex: 0 75%;
		}

		&.column-left,
		&.column-right {
			@include media("千esktop") {
				flex: 0 100%;
			}
		}

		.description {
			margin: -0.25vw 7.5vw 9.5vw 0;
			max-width: 550px;
			transition: margin 0.5s;

			@include media("千esktop") {
				margin: 0 7.5vw 25%;
			}

			.button {
				margin-top: 1rem;
			}
		}

		.photo {
			line-height: 0;
			margin: 0 3.5vw 7.5vw 7.5vw;
			transition: all 0.5s;
			
			@include media("千esktop") {
				margin: 3vw 7.5vw 3.5vw;
			}
			
			a {
				border: 0;
				
				&:hover {
					filter: brightness(125%);
				}
			}
			
			img {
				border-radius: 0.75rem;
			}
		}
	}
}