// ------------------------------
//
// Module: Section
//
// ------------------------------

.section {
	display: flex;

	@include media("≤tablet") {
		flex-wrap: wrap;
	}

	&.section-right {
		justify-content: flex-end;
	}

	.column {
		flex: 0 50%;
		transition: background-color 0.5s, color 0.5s;

		&.column-left,
		&.column-right {
			@include media("≤tablet") {
				flex: 0 100%;
			}
		}

		.description {
			margin: 7.5vw;
			max-width: 550px;
			transition: margin 0.5s;

			@include media("≤tablet") {
				margin: 0 7.5vw 20%;
			}

			.button {
				margin-top: 1rem;
			}
		}

		.photo {
			line-height: 0;
			margin: 7.5vw;
			transition: all 0.5s;
		}
	}
}