////////// Colors //////////

$blue: 				#5890e5;
$blue-light: 		$blue + #111;
$blue-lighter: 		#ecf6ff;
$blue-lighter-two: 	#d1e9ff;
$blue-dark: 		$blue - #111;
$blue-darker: 		$blue - #222;
$blue-darkest: 		$blue - #444;
$blue-border: 		#abc8f2;

$text: 				#3d3b49;

$green: 			#47a447;
$green-light: 		$green + #111;
$green-lighter: 	#e6f8e6;
$green-dark: 		$green - #111;
$green-darker: 		$green - #222;
$green-darkest: 	$green - #444;
$green-border: 		#b2dca5;

$sky: 				#39b3d7;
$sky-light: 		$sky + #111;
$sky-dark: 			$sky - #111;

$orange: 			#f16f29;
$orange-light: 		$orange + #111;
$orange-lighter: 	#fff6e4;
$orange-dark: 		$orange - #111;
$orange-darker: 	$orange - #222;
$orange-darkest: 	$orange - #444;
$orange-border: 	#dcd0a5;

$red: 				#ef4130;
$red-light: 		$red + #111;
$red-lighter: 		#ffe7e7;
$red-dark: 			$red - #111;
$red-darker: 		$red - #222;
$red-darkest: 		$red - #444;
$red-border: 		#f2abab;