html { font-size: 62.5%; }
body { font-size: 1.6rem; } /* =16px */
h1   { font-size: 3.6rem; } /* =36px */

body {
	padding: 0;
	margin: 0;
	font-family: $font-content;
	color: $color-main-text;
	letter-spacing: 0.02rem;
    line-height: 1.8;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $font-heading;
	color: $color-heading;
}

.container {
    max-width: 48rem;
    padding: 7.5% 5% 2.5%;
    margin: 0 auto;
    text-align: center;
}

img {
    max-width: 18rem;
    margin: 1.5rem 0 0;
}

a {
    color: $color-primary;
    text-decoration: none;
}

.buttons {
    margin: 5rem 0;

    .button {
        padding: 1.1rem 2.2rem;
        margin: 0 0.75rem;
        @extend %transition-3;
    }

    .button--full {
        color: white;
        background-color: $color-primary;
        border: 2px solid $color-primary;
        border-radius: 0.3rem;

        &:hover {
            color: white;
            background-color: $color-primary-dark;
            border-color: $color-primary-dark;
        }
    }

    .button--transparent {
        background-color: white;
        border: 2px solid $color-primary;
        border-radius: 0.3rem;

        &:hover {
            color: white;
            background-color: $color-primary-dark;
            border-color: $color-primary-dark;
        }
    }
}