footer {
	border-top: 1px solid $color-border;
	margin-top: 30%;
	margin-bottom: 5%;
	padding-top: 5%;
	color: $color-main-text-light;
	@extend %font-small;

	a {
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}
}