$main-text:		#343434;	// main text
//$link:					// anchor tags
$background:	#f5f5f5;	// body background color

$primary-font:	'Proxima Nova', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

// Transitions

$transition-1: all 100ms ease;
$transition-2: all 200ms ease;
$transition-3: all 300ms ease;
$transition-4: all 400ms ease;
$transition-5: all 500ms ease;
$transition-6: all 600ms ease;

@-webkit-keyframes fadeIn {
	0%		{opacity: 0;}
	20%		{opacity: 0;}
	40%		{opacity: 0.3;}
	60%		{opacity: 0.5;}
	80%		{opacity: 0.9;}
	100%	{opacity: 1;}
}

@keyframes fadeIn {
	0%		{opacity: 0;}
	20%		{opacity: 0;}
	40%		{opacity: 0.3;}
	60%		{opacity: 0.5;}
	80%		{opacity: 0.9;}
	100%	{opacity: 1;}
}